<h1>Ingrese producto</h1>
<div style="align-items: center; width: fit-content; background-color: lightgrey; display: flex;" id="formularioProductos">

    <div class="container">
        <div class="row">
            <div class="col">

            </div>
        </div>
        <form action="/" method="post" id="productsForm">
            <div class="row">
                <div class="col"
                    style="margin: 10px; display: flex; justify-content: space-between; align-items: center;">
                    Nombre <input type="text" name="nombre" id="nombreInput">
                </div>
                <div class="col"
                    style="margin: 10px; display: flex; justify-content: space-between; align-items: center;">
                    Precio <input type="number" name="precio" id="precioInput">
                </div>
                <div class="col"
                    style="margin: 10px; display: flex; justify-content: space-between; align-items: center;">
                    URL <input type="text" name="url" id="urlInput">
                </div>
                <div class="col"
                    style="margin: 10px; display: flex; justify-content: space-between; align-items: center;">
                    <input type="submit" value="Agregar producto">
                </div>
            </div>
        </form>
    </div>
</div>